<h3>{{pageTitle}}</h3>
<form [formGroup]="editForm" (ngSubmit)="onEdit()">
  <app-input-wrapper
    [element]="'input'"
    [type]="'text'"
    [placeholder]="'DisplayName'"
    [group]="editForm"
    [control]="editForm.get('displayName')"
    [controlName]="'displayName'"></app-input-wrapper>

  <app-input-wrapper
    [element]="'input'"
    [type]="'email'"
    [placeholder]="'Email'"
    [group]="editForm"
    [control]="editForm.get('email')"
    [controlName]="'email'"></app-input-wrapper>

  <app-input-wrapper
    [element]="'input'"
    [type]="'text'"
    [placeholder]="'FirstName'"
    [group]="editForm"
    [control]="editForm.get('firstName')"
    [controlName]="'firstName'"></app-input-wrapper>

  <app-input-wrapper
    [element]="'input'"
    [type]="'text'"
    [placeholder]="'LastName'"
    [group]="editForm"
    [control]="editForm.get('lastName')"
    [controlName]="'lastName'"></app-input-wrapper>
  <div class="form-group">
    <button md-button class="btn" type="submit">Edit</button>
  </div>
</form>
