.mat-nav-list .mat-list-item-focus {
  background: none;
}

.mat-nav-list .mat-list-item.active {
  background: rgba(63, 81, 181, 0.4);
}

.user-bar{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding: 0;

}

.user-bar .mat-list-item{
  color: rgba(255, 255, 255, 0.87);
}

i{
  margin: 0 5px;
}

.active-item{
  color: red !important;
}
