<h2>{{isEdit ? user.displayName + " Profile": user.displayName}}
  <span *ngIf="user.isFollower || onlyFollow"> is your friend</span>
</h2>
<div class="user-profile-holder">
  <div class="user-profile-img"></div>
  <div class="user-profile-data">
    <p>displayName: <strong>{{user.displayName}}</strong></p>
    <p>email: <strong>{{user.email}}</strong></p>
    <p>firstName: <strong>{{user.firstName}}</strong></p>
    <p>firstName: <strong>{{user.lastName}}</strong></p>
  </div>
</div>
<button *ngIf="isEdit; else addFollowerBtn" md-button class="btn" (click)="onRedact()">Edit</button>
<ng-template #addFollowerBtn>
  <button md-button class="btn" (click)="onDeleteFollower()" *ngIf="user.isFollower || onlyFollow">Remove from Friends</button>
  <button md-button class="btn" (click)="onAddFollower()" *ngIf="!user.isFollower && !onlyFollow">Add to Friends</button>
  <button md-button class="btn" *ngIf="user.isFollower || onlyFollow" (click)="directToBlogList()">Friend's Posts</button>
</ng-template>
