<h3>{{pageTitle}}</h3>
<form [formGroup]="signUpFormStep2" (ngSubmit)="submitFormData()">
  <app-input-wrapper
    [element]="'input'"
    [type]="'text'"
    [placeholder]="'DisplayName'"
    [group]="signUpFormStep2"
    [control]="signUpFormStep2.get('displayName')"
    [controlName]="'displayName'"></app-input-wrapper>

  <app-input-wrapper
    [element]="'input'"
    [type]="'text'"
    [placeholder]="'First Name'"
    [group]="signUpFormStep2"
    [control]="signUpFormStep2.get('firstName')"
    [controlName]="'firstName'"></app-input-wrapper>

  <app-input-wrapper
    [element]="'input'"
    [type]="'text'"
    [placeholder]="'Last Name'"
    [group]="signUpFormStep2"
    [control]="signUpFormStep2.get('lastName')"
    [controlName]="'lastName'"></app-input-wrapper>

  <div class="form-group">
    <button md-button class="btn" [disabled]='!signUpFormStep2.valid' type="submit">Submit</button>
  </div>
</form>
