<form [formGroup]="blogForm" (ngSubmit)="submitFormData();">

  <app-input-wrapper
    [element]="'input'"
    [type]="'text'"
    [placeholder]="'Blog Title'"
    [group]="blogForm"
    [control]="blogForm.get('blogHead')"
    [controlName]="'blogHead'"
    ></app-input-wrapper>

  <app-input-wrapper
    [element]="'textarea'"
    [placeholder]="'Blog Content'"
    [group]="blogForm"
    [control]="blogForm.get('blogContent')"
    [controlName]="'blogContent'"
    ></app-input-wrapper>

  <div class="form-group">
    <button md-button type="button" class="btn" (click)="directBack()" *ngIf="state">Back</button>
    <button md-button class="btn" [disabled]='!blogForm.valid' type="submit">{{state? 'Edit Blog': 'Add blog'}}</button>
  </div>
</form>
