<h3>Add New Item</h3>
<form (ngSubmit)="onAddItem(addForm)" #addForm="ngForm">
    <div class="form-group">
      <input type="text" placeholder="serial number" required ngModel class="form-control" name="serialNum" id="serialNum">
    </div>
    <div class="form-group">
      <input type="text" placeholder="item name" ngModel class="form-control" name="itemName" id="itemName">
    </div>
    <div class="form-group">
      <input type="number" placeholder="total items" ngModel class="form-control" name="totalItems" id="totalItems">
    </div>
    <div class="form-group">
      <input type="text" placeholder="category" ngModel class="form-control" name="category" id="category">
    </div>
    <div class="form-group">
      <input type="number" placeholder="cost" ngModel class="form-control" name="cost" id="cost">
    </div>
    <div class="form-group">
      <input type="text" placeholder="currency" ngModel class="form-control" name="currency" id="currency">
    </div>
    <div class="form-group">
      <input type="date" placeholder="purchase date" ngModel class="form-control" name="purchaseDate" id="purchaseDate">
    </div>
    <div class="form-group">
      <input type="text area" placeholder="comments" ngModel class="form-control" name="comments" id="comments">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Add</button>
</form>
